/*
Error404 page
*/
.justify-content-center {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}
#page-msg-icon {
	font-size: 6rem;
	margin-bottom: 1.5rem;
}
#page-msg-title {
	width: 100%;
	font-size: 2.75rem;
	font-weight: bold;
	text-align: center;
	color: #757575;
	margin-bottom: 3rem;
}
#page-msg-text {
	width: 100%;
	font-size: 1.2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}