/*
Registration page
*/
#reg-container {
	border: 1px solid #ddd;
	background-color: white;
	margin: 5rem 0 7rem 0;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	border-radius: 1.5rem;
	overflow: hidden;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25), 0 25px 50px -12px rgba(0, 0, 0, 0.1);
}

#reg-img {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 45%;
}

#reg-img div#img-responsive {
	background: url(../../img/register.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}

#reg-formcontainer {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 55%;
	padding: 0 7%;
}

#regform-title {
	font-size: 2.1rem;
	font-weight: 900;
	color: #20bf55;
	margin: 1.5rem 0;
}

#reg-formcontainer #chk-terms-read-agree {
	margin-right: 0.5rem;
}

#reg-formcontainer .editinput { width: 80%; }
#signinform .edit-container { width: 80%; }

@media all and (max-width: 800px) {
	#reg-container {
		flex-direction: column;
		align-items: center;
	}

	#reg-img {
		height: 15rem;
		width: 100%;
	}

	#reg-formcontainer { width: 100%; }
	
	#reg-formcontainer .editinput { width: 100%; }
}
